<nav class="navbar">
  <div class="container-fluid">
    <a routerLink="../homepage"  class="header">NAMMA CANTEEN</a>
    <div class="d-flex">
      <button (click)="clickadd()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add item</button>
    </div>
  </div>
</nav>


<div class="styletable">
<table class="table mt-4" >
  <thead>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Time to Prepare</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col">Action</th>

  </thead>
  <tbody>
    <tr *ngFor="let data of allrestdata ">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.time}}</td>
      <td>{{data.category}}</td>
      <td>{{data.price}}</td>
      <td>
        <button class="btn btn-info"type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="oneditresto(data)" >EDIT</button>&nbsp;
        <button (click)="deleteresto(data)" class="btn btn-danger" >DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="email" formControlName="name" class="form-control" id="exampleInputname1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Time to Prepare</label>
            <input type="email" formControlName="time" class="form-control" id="exampleInputemail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Category</label>
            <input type="email" formControlName="category" class="form-control" id="exampleInputmobile1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input type="email" formControlName="price" class="form-control" id="exampleInputprice1">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showad" type="button" class="btn btn-primary"(click)="addresto()">add details</button>
        <button *ngIf="showup" type="button" class="btn btn-primary"(click)="updateresto()">update details</button>
      </div>
    </div>
  </div>
</div>
